<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>261161518519-3t80fh496s5pe3ovj6kunv7u5tggtncu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.261161518519-3t80fh496s5pe3ovj6kunv7u5tggtncu</string>
	<key>API_KEY</key>
	<string>AIzaSyBPwlmN3SUOa5-AEG2_b9gaM49n_dO-hvw</string>
	<key>GCM_SENDER_ID</key>
	<string>261161518519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalProject</string>
	<key>PROJECT_ID</key>
	<string>project-salad-1cb98</string>
	<key>STORAGE_BUCKET</key>
	<string>project-salad-1cb98.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:261161518519:ios:3cbbd1afd62f75a47fd432</string>
</dict>
</plist>